.titleContent {
    display: block;
    opacity: 0;
    animation: revealText .5s forwards;
  }
  .titleSecont {
    animation-delay: 4s;
  }
  .titleThird {
    animation-delay: 3s;
  }
  .titleFourth {
    animation-delay: 2s;
  }
  @keyframes revealText {
    from {
      transform: translateY(22px);
  
    }
    to {
      opacity: 1;
      transform: none;
    }
  }